[辻真吾・矢吹太朗『ゼロからはじめるデータサイエンス入門』（講談社, 2021）](https://github.com/taroyabuki/fromzero)

In [ ]:
# Google Colaboratoryの環境設定
import os
if 'COLAB_GPU' in os.environ:
  !python -m pip install pandarallel | tail -n 1

## 3.1 入門

In [ ]:
0x10

In [ ]:
1.23e5

In [ ]:
2 * 3

In [ ]:
10 / 3

In [ ]:
10 // 3 # 商

10 % 3  # 余り

In [ ]:
x = 2
y = 3
x * y

x, y = 20, 30 # まとめて名付け
x * y

In [ ]:
x = 1 + 1
# この段階では結果は表示されない

x # 変数名を評価する．

In [ ]:
my_s = 'abcde'

In [ ]:
len(my_s)

In [ ]:
'This is' ' a' ' pen.'
# あるいは
'This is ' + 'a' + ' pen.'

In [ ]:
my_s[1:4]

In [ ]:
tmp = "{} is {}."
tmp.format('This', 'a pen')

In [ ]:
1 <= 2

1 < 0

In [ ]:
0.1 + 0.1 + 0.1 == 0.3

import math
math.isclose(0.1 + 0.1 + 0.1, 0.3)

In [ ]:
True and False # 論理積（かつ）

True or False  # 論理和（または）

not True       # 否定（でない）

In [ ]:
0 if 3 < 5 else 10

In [ ]:
import os
os.getcwd()

In [ ]:
os.chdir('..')
os.getcwd()

## 3.2 関数

In [ ]:
import math
math.sqrt(4)

In [ ]:
math.log(100, 10)

In [ ]:
math.log(100)         # 自然対数
# あるいは
math.log(100, math.e) # 省略しない場合

In [ ]:
math.log10(100) # 常用対数

math.log2(1024) # 底が2の対数

In [ ]:
def f(a, b):
    return a - b

In [ ]:
f(3, 5)

In [ ]:
def f(a, b=5):
    return a - b

f(3) # f(3, 5)と同じこと

In [ ]:
(lambda a, b: a - b)(3, 5)

## 3.3 コレクション

In [ ]:
x = ['foo', 'bar', 'baz']

In [ ]:
len(x)

In [ ]:
x[1]

In [ ]:
x[1] = 'BAR'
x # 結果の確認

x[1] = 'bar' # 元に戻す．

In [ ]:
x[-2]

In [ ]:
x + ['qux']

In [ ]:
x = x + ['qux']
# あるいは
#x.append('qux')

x # 結果の確認

In [ ]:
list(range(5))

In [ ]:
list(range(0, 11, 2))

In [ ]:
import numpy as np
np.arange(0, 1.1, 0.5)

In [ ]:
np.linspace(0, 100, 5)

In [ ]:
[10] * 5

In [ ]:
import numpy as np
x = np.array([2, 3, 5, 7])

x + 10 # 加算

x * 10 # 乗算

In [ ]:
x = [2, 3]
np.sin(x)

In [ ]:
x = np.array([2,  3,   5,    7])
y = np.array([1, 10, 100, 1000])
x + y

x * y

In [ ]:
np.dot(x, y)
# あるいは
x @ y

In [ ]:
x = np.array([True, False])
y = np.array([True, True])
x & y

In [ ]:
u = np.array([1, 2, 3])
v = np.array([1, 2, 3])
w = np.array([1, 2, 4])

all(u == v) # 全体の比較

all(u == w) # 全体の比較

u == v      # 要素ごとの比較

u == w      # 要素ごとの比較

In [ ]:
(u == w).sum()  # 同じ要素の数

(u == w).mean() # 同じ要素の割合

In [ ]:
x = [1, "two"]

In [ ]:
x[1]

In [ ]:
x = {'apple' : 'りんご',
     'orange': 'みかん'}

In [ ]:
x['grape'] = 'ぶどう'

In [ ]:
x['apple']
# あるいは
tmp = 'apple'
x[tmp]

In [ ]:
x = ['foo', 'bar', 'baz']
y = x
y[1] = 'BAR' # yを更新する．
y

x            # xも変わる．

In [ ]:
x = ['foo', 'bar', 'baz']
y = x.copy()             # 「y = x」とせずに，コピーする．
x == y, x is y

y[1] = 'BAR'             # yを更新しても，
x

## 3.4 データフレーム

In [ ]:
import pandas as pd

In [ ]:
my_df = pd.DataFrame({
    'name':    ['A', 'B', 'C', 'D'],
    'english': [ 60,  90,  70,  90],
    'math':    [ 70,  80,  90, 100],
    'gender':  ['f', 'm', 'm', 'f']})

In [ ]:
my_df = pd.DataFrame([
    ['A', 60,  70, 'f'],
    ['B', 90,  80, 'm'],
    ['C', 70,  90, 'm'],
    ['D', 90, 100, 'f']],
    columns=['name', 'english',
             'math', 'gender'])

In [ ]:
my_df.head()
# 結果は割愛

In [ ]:
r, c = my_df.shape # 行数と列数
r, c

r # 行数（len(my_df)も可）

c # 列数

In [ ]:
from itertools import product
my_df2 = pd.DataFrame(
    product([1, 2, 3],
            [10, 100]),
    columns=['X', 'Y'])
my_df2

In [ ]:
my_df2.columns

In [ ]:
my_df2.columns = ['P', 'Q']
my_df2
# 以下省略

In [ ]:
list(my_df.index)

In [ ]:
my_df2.index = [
    'a', 'b', 'c', 'd', 'e', 'f']
my_df2
# 以下省略

In [ ]:
my_df3 = pd.DataFrame({
    'english': [ 60,  90,  70,  90],
    'math':    [ 70,  80,  90, 100],
    'gender':  ['f', 'm', 'm', 'f']},
    index=     ['A', 'B', 'C', 'D'])
my_df3

In [ ]:
tmp = pd.DataFrame({
    'name'   : ['E'],
    'english': [80],
    'math'   : [80],
    'gender' : ['m']})
my_df2 = my_df.append(tmp)

In [ ]:
my_df2 = my_df.assign(id=[1, 2, 3, 4])

In [ ]:
my_df3 = my_df.copy()       # コピー
my_df3['id'] = [1, 2, 3, 4] # 更新
my_df3 # 結果の確認（割愛）

In [ ]:
my_df.iloc[0, 1]

In [ ]:
x = my_df.iloc[:, 1]
# あるいは
x = my_df['english']
# あるいは
x = my_df.english
# あるいは
tmp = 'english'
x = my_df[tmp]

x # 結果の確認（割愛）

In [ ]:
x = my_df[['name', 'math']]
# あるいは
x = my_df.loc[:, ['name', 'math']]

In [ ]:
x = my_df.take([0, 2], axis=1)
# あるいは
x = my_df.iloc[:, [0, 2]]

In [ ]:
x = my_df.drop(
    columns=['english', 'gender'])
# あるいは
x = my_df.drop(
    columns=my_df.columns[[1, 3]])

In [ ]:
x = my_df.take([0, 2])
# あるいは
x = my_df.iloc[[0, 2], :]

In [ ]:
x = my_df.drop([1, 3])

In [ ]:
x = my_df[my_df['gender'] == 'm']
# あるいは
x = my_df.query('gender == "m"')

In [ ]:
x = my_df[(my_df['english'] > 80) & (my_df['gender'] == "m")]
# あるいは
x = my_df.query('english > 80 and gender == "m"')

In [ ]:
x = my_df[my_df['english'] == my_df['english'].max()]
# あるいは
tmp = my_df['english'].max()
x = my_df.query('english == @tmp')

In [ ]:
my_df2 = my_df.copy() # コピー
my_df2.loc[my_df['gender'] == 'm', 'gender'] = 'M'

In [ ]:
my_df2

In [ ]:
x = my_df.sort_values('english')

In [ ]:
x = my_df.sort_values('english',
    ascending=False)

In [ ]:
import numpy as np
x = [2, 3, 5, 7, 11, 13, 17, 19, 23,
     29, 31, 37]
A = np.array(x).reshape(3, 4)
A

In [ ]:
A = my_df.iloc[:, [1, 2]].values
A

In [ ]:
pd.DataFrame(A)

In [ ]:
A.T

In [ ]:
A.T @ A

In [ ]:
my_df = pd.DataFrame({
    'day': [25, 26, 27],
    'min': [20, 21, 15],
    'max': [24, 27, 21]})

In [ ]:
my_longer = my_df.melt(id_vars='day')
my_longer

In [ ]:
my_wider = my_longer.pivot(
    index='day',
    columns='variable',
    values='value')
my_wider

In [ ]:
my_wider.plot(
    style='o-',
    xticks=my_wider.index, # x軸目盛り
    ylabel='temperature')  # y軸ラベル

## 3.5 1次元データの（非）類似度

In [ ]:
import numpy as np
from scipy.spatial import distance
from scipy.stats import pearsonr

A = np.array([3,   4,  5])
B = np.array([3,   4, 29])
C = np.array([9, -18,  8])

distance.euclidean(A, B)

distance.euclidean(A, C)

In [ ]:
distance.cityblock(A, B)

distance.cityblock(A, C)

In [ ]:
1 - distance.cosine(A, B)

1 - distance.cosine(A, C)

In [ ]:
1 - distance.correlation(A, B)
# あるいは
pearsonr(A, B)[0]

1 - distance.correlation(A, C)
# あるいは
pearsonr(A, C)[0]

In [ ]:
# 小数点以下は3桁表示
np.set_printoptions(precision=3)
import pandas as pd

my_df = pd.DataFrame({
    'x': [3,  3,   9],
    'y': [4,  4, -18],
    'z': [5, 29,   8]},
    index=['A', 'B', 'C'])

# ユークリッド距離
distance.cdist(my_df, my_df,
               metric='euclidean')

# マンハッタン距離
distance.cdist(my_df, my_df,
               metric='cityblock')

# コサイン類似度
1 - distance.cdist(my_df, my_df,
    metric='cosine')

# 相関係数
1 - distance.cdist(my_df, my_df,
    metric='correlation')

## 3.6 Rのパッケージ，Pythonのモジュール

In [ ]:
import math
import numpy as np
import pandas as pd

In [ ]:
import numpy
numpy.array([1, 2, 3, 4])

In [ ]:
import numpy as np
np.array([1, 2, 3, 4])

In [ ]:
from numpy import array
array([1, 2, 3, 4])

In [ ]:
from numpy import *
array([1, 2, 3, 4])

## 3.7 反復処理

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
def f1(x):
    tmp = np.random.random(x)
    return np.mean(tmp)

f1(10)                # 動作確認

In [ ]:
[f1(10) for i in range(3)]

In [ ]:
[f1(10)] * 3

In [ ]:
v = [5, 10, 100]
[f1(x) for x in v] # 方法1

# あるいは

v = pd.Series([5, 10, 100])
v.apply(f1)        # 方法2

In [ ]:
pd.Series([10] * 3).apply(f1)
# 結果は割愛

In [ ]:
def f2(n):
    tmp = np.random.random(n)
    return pd.Series([
        n,
        tmp.mean(),
        tmp.std(ddof=1)],
        index=['x', 'p', 'q'])

f2(10) # 動作確認

In [ ]:
v = pd.Series([5, 10, 100])
v.apply(f2)

In [ ]:
def f3(x, y):
    tmp = np.random.random(x) * y
    return pd.Series([
        x,
        y,
        tmp.mean(),
        tmp.std(ddof=1)],
        index=['x', 'y', 'p', 'q'])

f3(10, 6) # 動作確認

In [ ]:
my_df = pd.DataFrame({
    'x': [5, 10, 100,  5, 10, 100],
    'y': [6,  6,   6, 12, 12,  12]})

my_df.apply(
  lambda row: f3(row['x'], row['y']),
  axis=1)
# あるいは
my_df.apply(lambda row:
            f3(*row), axis=1)

In [ ]:
from pandarallel import pandarallel
pandarallel.initialize() # 準備

v = pd.Series([5, 10, 100])
v.parallel_apply(f1)
# 結果は割愛

## 3.8 その他

In [ ]:
x = 123
type(x)

In [ ]:
%whos

In [ ]:
import math
?math.log
# あるいは
help(math.log)

In [ ]:
import numpy as np
v = [1, np.nan, 3]
v

In [ ]:
np.isnan(v[1])

v[1] == np.nan # 誤り